@use "@/styles/theme" as t;

[id="footer"] {
  display: flex;
  row-gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  //padding
  padding: 16px 5% 8px;

  @include t.themify {
    background-color: t.themed("section-color");
  }

  .contact,
  .about {
    //layout
    display: flex;
    flex: auto 0 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: self-start;
    align-self: flex-start;
  }

  hr {
    @include t.themify {
      background-color: t.themed("border-divider-color");
    }
  }

  .author {
    display: flex;
    flex: 100% 0 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
