@import "@/styles/color.sass";

[id="footer"] {
  display: flex;
  row-gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  //padding
  padding: 16px 5% 8px;

  .contact,
  .about {
    //layout
    display: flex;
    flex: auto 0 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: self-start;
    align-self: flex-start;
  }

  hr {
    background-color: darken($bg-color, 10);
  }

  .author {
    display: flex;
    flex: 100% 0 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-sns-links {
    }
  }
}
