@use "@/styles/text";
@use "@/styles/ornament";
@use "@/styles/anim";

.thumbnail {	
	&:hover{
		@extend .has-shadow;
	}

  //layout
  display: flex;
  flex-direction: column;

  &-image {
    aspect-ratio: 3/2;
		@extend %image-scale;
  }

  &-title {
    //layout
    display: flex;
    flex-direction: column;
    align-items: stretch;
    //padding
    padding: 0.5em;

    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

			.caption{
				flex: auto 1 0;
			}
    }
  }
}
