$accent-color: #946FFF
$bg-color: white
$bg-dark: #111

$text-color: hsl(0,0,4)
$text-link: lightblue


.bg-accent
	background-color: $accent-color
.bg-dark
	background-color: $bg-dark



	