@use "variable";
@use "theme" as t;

.icon {
  //@include t.
}

.is-background {
  @include t.themify {
    background-color: t.themed("background-color");
  }
}
.link{
  @include t.themify{
    color: t.themed('link-color');
    &:hover{
      color: t.themed('link-color-active')
    }
  }
}