@use "./variable" as v;
@use "./theme" as t;

$border-width: 1px !default;

.has-shadow {
  //box-shadow: hsla(0, 0%, 14%, 0.2) 0 4px 4px 2px !important;
  @include t.themify {
    box-shadow: t.themed("shadow-color") 0 4px 4px 2px !important;
  }
}

///border
.border-round {
  border-radius: 999px !important;
}

@for $i from 1 through 10 {
  .border-radius-#{$i} {
    border-radius: calc($i * v.$border-radius-unit);
  }
}

.border {
  border-width: $border-width;
  border-style: solid;
  @include t.themify {
    border-color: t.themed("border-color");
    &-active {
      border-color: t.themed("border-color-active");
    }
  }
}

///icon
.icon {
  vertical-align: text-bottom;
  @include t.themify {
    color: t.themed("icon-color");
  }

  &.is-clickable {
    $tapsize: 0.25em;
    border: 0px solid transparent;
    @extend .border-round;
    //negative margin
    margin: calc(-1 * $tapsize) 0;
    //expand tap region (+tapsize)
    padding: $tapsize;

    @include t.themify {
      &:hover {
        background-color: t.themed("icon-background-color-hover");
        color: t.themed("icon-color-hover");
      }
    }
  }
  &.is-small {
    width: 24px;
    &.material-symbols-outlined {
      font-size: 24x;
    }
  }
}

.list-style-circle {
  list-style: circle !important;
}
