@use "_variable" as v;

@function get-min($size-name: "tablet") {
  @return map-get(v.$responsive, $size-name);
}

@mixin modify {
  @each $size-name, $map in v.$sizes {
    $size-map: () !global;
    @each $key, $submap in $map {
      $value: map-get(map-get(v.$sizes, $size-name), $key);
      $size-map: map-merge(
        $size-map,
        (
          $key: $value,
        )
      ) !global;
      @media (min-width: get-min($size-name)) {
        @content;
      }
      $size-map: null !global;
    }
  }
}

@function size($key) {
  @return map-get($size-map, $key);
}

@mixin is-($name) {
  @media (min-width: get-min($name)) {
    @content;
  }
}

@mixin within($lg, $sm) {
  @media (min-width: get-min($lg)) and (max-width: get-min($sm)) {
    @content;
  }
}
