@use "./variable" as v;

$short-direction: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

@for $i from 0 through 10 {
  $margin: calc($i * v.$margin-unit);
  $padding: calc($i * v.$padding-unit);

  @each $dir, $name in $short-direction {
    .m#{$dir}-#{$i} {
      margin-#{$name}: $margin !important;
    }
    .p#{$dir}-#{$i} {
      padding-#{$name}: $padding !important;
    }
  }

  .my-#{$i} {
    margin-top: $margin !important;
    margin-bottom: $margin !important;
  }
  .mx-#{$i} {
    margin-right: $margin !important;
    margin-left: $margin M !important;
  }
  .m-#{$i} {
    margin: $margin !important;
  }
  .py-#{$i} {
    padding-top: $padding !important;
    padding-bottom: $padding !important;
  }
  .px-#{$i} {
    padding-right: $padding !important;
    padding-left: $padding !important;
  }
  .p-#{$i} {
    padding: $padding !important;
  }
} //end for

.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}
