@use "@/styles/_variable" as *;
@use "@/styles/responsive" as *;
@use "@/styles/space" as *;

.article {
  &-layout {
    width: 100%;
    @extend .px-6;
    margin: auto;
    max-width: $tablet;
  }
  
  /*&-header {
    background: #eee;

    .tags {
      display: flex;
      column-gap: 0.25em;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      overflow-wrap: break-word;

      .tag {
        cursor: pointer;
        font-size: 0.65em;
      }
    }
  }*/
}