@use "@/styles/_variable" as *;
@use "@/styles/responsive" as *;
@use "@/styles/space" as *;

.article {
  &-layout {
    width: 100%;
    @extend .px-6;
    margin: auto;
    max-width: $tablet;
  }

  &-image {
    aspect-ratio: 5/2;
    width: 100%;
    object-fit: cover;
  }
}

/**/
.markdown-body {
  ol,
  ul {
    list-style: inherit;
  }

  //TODO: fix it
  .hljs{
    background-color: #333;
  }
}
