@import "@/styles/color.sass"

.top-container
	height: 100vh
	width: 100vw
	padding: 2rem 5% 0

//FIXME: design
.vertical-line	
	display: inline-block
	width: 3px
	background: black
	height: 1.25em
	vertical-align: middle

.thumbnails
	display: flex
	flex-direction: row
	flex-wrap: wrap
	>* 
		flex: 100% 0 0
